body {
    --main-gap: 0px;
    --main-content-width: 1200px;
    --main-column-padding: 10px;
    --main-column-width: calc(var(--main-content-width) / 2 - var(--main-gap) - var(--main-column-padding));
    overflow-y: hidden;
    color-scheme: dark;
}

body {
    height: 100svh;
    animation: entering-animation 3s ease;
}

a {
    text-decoration: none;
    color: #fff;
}

.main-paddings {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

.sub-paddings {
    width: var(--main-content-width);
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.margins {
    height: 100svh;
    width: auto;
    display: flex;
    flex-direction: column;
    grid-gap: var(--main-gap);
}

.main-wrapper {
    height: 100svh;
    width: 100%;
    border-radius: 0px;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    overflow-y: scroll;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.background {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    opacity: 1;
}

.main-wrapper-paddings {
    padding: 35px;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.border {
    border: 2px solid rgb(76, 76, 255);
    border-radius: 30px;
    padding: 2px 7px;
    font-size: 14px;
    color: rgb(76, 76, 255);
    font-weight: 600;
    width: fit-content;
}

br {
    user-select: none;
}

.tag-cloud {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 5px;
}

.gradient-text {
    background: linear-gradient(45deg, #6F0DD7, #CB52FF);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

img {
    user-select: none;
}

.videos {
    --border-radius: 0px;
}

.videos {
    display: flex;
    grid-gap: 5px;
    animation: videos-animation 30s infinite ease-in-out;
}

.videos:nth-child(2) {
    animation: videos-animation-2 30s infinite ease-in-out;
}

iframe {
    height: 100%;
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
    border-radius: 20px;
    transition: 0.15s ease;
    border: 4px solid #dfd0ea;
}

iframe:hover {
    border: 4px solid #aa99b5;
}

li {
    font-size: 20px;
    font-weight: 500;
}

footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--main-content-width);
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: 500;
    color: #6E27A3;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-between a {
    font-size: 12px;
    padding: 4px 12px;
    border-radius: 30px;
    background: hsla(0, 0%, 100%, 0.1);
}


@keyframes videos-animation {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-2500px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes videos-animation-2 {
    0% {
        transform: translateX(-2500px);
    }
    50% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-2500px);
    }
}

@keyframes videos-animation {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-2500px);
    }
}

@media (max-width: 1500px) {
    .video, .book, .album {
        height: 180px !important;
    }
}

@media (max-width: 1000px) {
    .padding-top-40 {
        padding-top: 20px;
    }

    .main-wrapper {
        border-radius: 0;
    }
}

@media (max-width: 1200px) {
    body {
        --main-content-width: 85vw;
    }
}

@media (max-width: 850px) {
    .videos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    body {
        --main-content-width: 100vw;
    }

    #not-necessary {
        display: none;
    }

    .videos {
        grid-template-columns: repeat(2, 1fr);
    }

    .column-reverse {
        display: flex !important;
        flex-direction: column !important;
        flex-direction: column-reverse !important;
        padding: 0 !important;
    }

    .padding-top-40 {
        padding-top: 0px;
    }
}

@media (max-width: 600px) { 
    .videos {
        grid-template-columns: repeat(1, 1fr);
    }
}

@keyframes entering-animation {
    0% {
        background: rgb(0, 0, 0);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}