* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    --main-border-color: #E5E5E5;
    --main-accent-color: #F5F5F7;
    --sub-font-color: #ACBBC6;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}