.blocks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-top: 20px;
    grid-gap: 10px;
    backdrop-filter: blur(3px);
}

.post-block {
    width: fit-content;
    padding: 10px;
    opacity: 0.9;
    transition: 0.3s ease;
    background: rgb(19, 28, 39);
}

.post-block iframe {
    outline: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.post-block:hover {
    opacity: 1;
}

.post-block i {
    display: none;
}

.tgme_widget_message_bubble, .tgme_widget_message_inline_keyboard {
    margin-left: 0px !important;
}

.tgme_widget_message_bubble_tail {
    display: none !important;
}

.tgme_widget_message_bubble_tail {
    display: none !important;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    object-fit: cover;
}

@media (max-width: 374px) {
    .post-block {
        width: 100%;
        overflow: hidden;
    }
}