.sub-wrapper {
    width: 100%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    background: var(--main-accent-color);
}

.imac-video {
    top: 45px;
    left: 13px;
    width: 94.7%;
    position: absolute;
    border-radius: 1px;
}